fastapi
uvicorn
requests
huggingface_hub

sqlalchemy
pydantic
pydantic-settings
croniter
apscheduler
supabase
pgvector
feedparser
psycopg2-binary
python-multipart
python-dotenv

gunicorn
numpy<2.0.0
pytest
httpx
email-validator
python-jose[cryptography]
bcrypt
